<!DOCTYPE html>
<html >

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Yxsimg : ">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="package/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/hashes.min.js"></script>
    <script src="js/idbstore.min.js"></script>

    <link href="package/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="package/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />

    <title>Yxsimg</title>
</head>

<body ng-app="my_a" data-ng-controller="my_c">

    <ul class="nav nav-tabs">
        <li><a href="#tab1" data-toggle="tab" class="alert-success">IndexedDB</a>  </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle alert-success">Baidu Cloud<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                <li><a href="#tab2" tabindex="-1" data-toggle="tab">Baidu Cloud Disk</a></li>
                <li><a href="#tab3" tabindex="-1" data-toggle="tab">Baidu Access Token</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle alert-success">File<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                <li><a href="#tab4" tabindex="-1" data-toggle="tab">File Input</a></li>
                <li><a href="#tab5" tabindex="-1" data-toggle="tab">File Save</a></li>
            </ul>
        </li>
        <li><a href="#tab6" tabindex="-1" data-toggle="tab">Password</a></li>

    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
            <h1>DB Test</h1>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" data-ng-click="deletedb()">deletedb</button>

                    <button type="button" class="btn btn-warning" data-ng-click="initdb()">initdb</button>
                    <button type="button" class="btn btn-success" data-ng-click="testadd()">testadd</button>
                    <button type="button" class="btn btn-info" data-ng-click="testgetall()">testgetall</button>
                </div>
            </div>

            <div>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>id</th>
                        <th>firstname</th>
                        <th>lastname</th>
                        <th>age</th>
                        <th>image</th>
                    </tr>
                    <tbody data-ng-repeat="item in people.items">
                        <tr>
                            <td><span class="info">{{item.id}}</span></td>
                            <td><span class="info">{{item.firstname}}</span></td>
                            <td><span class="info">{{item.lastname}}</span></td>
                            <td><span class="info">{{item.age}}</span></td>
                            <td>
                                <img src="{{item.image}}" alt="" style="width: 40px; height: 40px;" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="tab2">
            <button class="btn btn-success" data-ng-click="openbaidu()">List File</button>
            <button class="btn btn-success" data-ng-click="getfile()">Get File</button>
            <button class="btn btn-success" data-ng-click="uploadfile()">Upload File</button>
            <button class="btn btn-success" data-ng-click="mkdir()">mkdir</button>
        </div>
        <div class="tab-pane fade" id="tab3">
            <div class="alert-success" style="height: 100%">
                <iframe style="height: 100%" class="alert-info col-md-12" src="https://openapi.baidu.com/oauth/2.0/authorize?response_type=token&client_id=L6g70tBRRIXLsY0Z3HwKqlRE&redirect_uri=oob&scope=netdisk"></iframe>
            </div>
        </div>
        <div class="tab-pane fade" id="tab4">
            <input type="file" id="myfile" data-ng-mouseout="showimg()" />
            <span data-ng-click="showimg()">show image</span>
            <img id="myimg" src="{{mysrc}}" alt="{{mysrc_name}}" />
        </div>
        <div class="tab-pane fade" id="tab5">
            test
        </div>
        <div class="tab-pane fade" id="tab6">
            <div>
                <div>
                    <input type="password" name="name" data-ng-model="mypassword" />
                </div>
                <div>
                    <input type="text" name="name" data-ng-model="mypassword" data-ng-change="myhash()" />
                </div>
                <div>
                    <span data-ng-bind="myhash()" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="js/my_c.js"></script>
<script src="js/app.js"></script>
